<section>
  <h3>ngClass</h3>
  <div class="alert" [ngClass]="'alert-' + alertType" role="alert">
    A simple alert — check it out!
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-info" (click)="info()">Info</button>
    <button type="button" class="btn btn-success" (click)="success()">
      Success
    </button>
    <button type="button" class="btn btn-warning" (click)="warning()">
      Warning
    </button>
    <button type="button" class="btn btn-danger" (click)="danger()">
      Danger
    </button>
  </div>
  <h3 [ngClass]="{'text-danger': changeColor, 'text-info': !changeColor}">Atención</h3>
  <button
    type="button"
    class="btn"
    [ngClass]="{'btn-danger': changeColor, 'btn-info': !changeColor}"
    (click)="toggleColor()"
  >
    Cambiar
  </button>
  <h4>Proceso asíncrono</h4>
  <button type="button" class="btn btn-primary" (click)="AsyncClick()" [disabled]="isLoading"><fa-icon [icon]="isLoading ? faSyncAlt : faSave" [spin]="isLoading"></fa-icon> 
    <span *ngIf="!isLoading">Guardar cambios</span>
    <span *ngIf="isLoading">Espere por favor...</span>
  </button>
</section>
