<section>
  <h3>ngClass</h3>
  <div class="alert alert-danger" role="alert">
    A simple warning alert — check it out!
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
  </div>
  <h4>Proceso asíncrono</h4>
  <button type="button" class="btn btn-primary">Guardar cambios</button>
</section>
